[Install]
WantedBy=multi-user.target

[Container]
Image=ghcr.io/inlets/inlets-pro:{{ inlets_version }}
ContainerName=inlets
Exec=http server --auto-tls --auto-tls-san={{ inlets_server_ip }} --token-env=INLETS_TOKEN --letsencrypt-domain={{ inlets_server_domain }} --letsencrypt-email={{ lets_encrypt_user }}@{{ inlets_server_domain }} --letsencrypt-issuer={{ lets_encrypt_issuer }}
PublishPort=80:80
PublishPort=443:443
PublishPort={{ inlets_wss_port }}:{{ inlets_wss_port }}
AddCapability=NET_BIND_SERVICE
Secret=inlets-token,type=env,target=INLETS_TOKEN
