[Install]
WantedBy=multi-user.target

[Container]
Image=ghcr.io/inlets/inlets-pro:{{ inlets_version }}
ContainerName=inlets
Exec=http server --auto-tls --auto-tls-discovery=external --token-env=INLETS_TOKEN --letsencrypt-domain={{ letsencrypt_domain }} --letsencrypt-email={{ letsencrypt_user }}@{{ letsencrypt_domain }} --letsencrypt-issuer={{ letsencrypt_issuer }}
PublishPort=80:80
PublishPort=443:443
PublishPort={{ inlets_wss_port }}:{{ inlets_wss_port }}
AddCapability=NET_BIND_SERVICE
Secret=inlets-token,type=env,target=INLETS_TOKEN
