- name: Assert only one server
  ansible.builtin.assert:
    that: groups['inlets_server'] | default([]) | length == 1

- name: Assert license
  ansible.builtin.assert:
    that: inlets_license | default('') | length > 0
    fail_msg: inlets_license must be defined

- name: Assert domain
  ansible.builtin.assert:
    that: lets_encrypt_domain | default('') | length > 0
    fail_msg:  lets_encrypt_domain must be defined

- name: Generate inlets server token
  no_log: true
  ansible.builtin.set_fact:
    inlets_token: "{{ lookup('community.general.random_string', special=false, length=64) }}"

- name: Set inlets version if not set
  ansible.builtin.set_fact:
    inlets_version: "{{ default_inlets_version }}"
  when: inlets_version | default('') | length == 0

- name: Set inlets server ip
  ansible.builtin.set_fact:
    inlets_server_ip: "{{ hostvars[groups['inlets_server'][0]]['ansible_default_ipv4'].address }}"
